{% extends "arena_base.html" %}

<!-- -->

{% block content %}
    <div>
        <form action="{% url 'arena_results' %}" method="POST">
            {% csrf_token %}
            <!-- Fighter 1 Selection -->
            <select name="fighter1">
                <!--<option value="">Choose a Fighter</option>-->
                {% for f in fighters %}
                    <option value="{{ f.pk }}">{{ f.name }}, Win {{f.wins}} / Lose {{f.losses}} </option>
                {% endfor %}
            </select>

            <!-- Fighter 2 Selection -->
            <select name="fighter2">
                {% for f in fighters %}
                    <option value="{{ f.pk }}">{{ f.name }}, Win {{f.wins}} / Lose {{f.losses}} </option>
                {% endfor %}
            </select>

            <button type="submit">Fight</button>
        </form>
    </div>
{% endblock %}