{% extends "arena_base.html" %}

{% block content %}

<h1>GLADIATORS</h1>
<table class="form-container">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Colors</th>
        <th>Equipment</th>
        <th>Wins</th>
        <th>Losses</th>
    </tr>

    {% for f in fighters %}
    <tr>
        <td><a href="../{{ f.pk }}/details/">{{f.name}}</a></td>
        <td>{{f.age}}</td>
        <td>{{f.colors}}</td>
        <td>{{f.equipment}}</td>
        <td>{{f.wins}}</td>
        <td>{{f.losses}}</td>
    </tr>
    {% endfor %}
</table>

<button class="btn"><a href="{% url 'arena_home' %}">Back to the Arena</a></button>

{% endblock %}